@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


body{
    width: 100%;
    background-image:linear-gradient(to right top, #978eff, #bd66f3, #e213cd);
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*position: relative;*/
    /*text-align: center;*/
    padding: 0 2em;
}

.background {
    position: absolute;
    height: 90vh;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    z-index: -1;
}


h1{
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    font-size: 2.4rem;
    color: #ffd9fd;
    text-shadow: 0.1em 0.1em 0.3em rgb(170, 170, 170);
    z-index: 1;
}

.game{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color:#ff00e67b;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 3px solid #ffb0eb;
}

.grid button{
    background-color: #46054c;
    color: #bd66f3;
    font-size: 24px;
    font-weight: bold;
    border:1px solid #ffb0eb;
    }

    .footer{
        margin-top: 15px;
        display:flex;
        justify-content: space-between;
    }

    .footer button{
        border: none;
        font-size: 20px;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0 0px 5px #8a5f8a;
        padding: 5px;
        width: 80px;
        background-color: #bd66f3;
        color: #ffb0eb;
        cursor: pointer;
    }

    .footer button:hover{
        background-color: #46054c;
    }

    .footer span{
        flex: 1;
        text-align: center;
        font-size: 16px;
        color: #ffb0eb93;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
