@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to left top, #8a5f8a, #cc718d, #fc8f7d, #ffbf69, #f9f871);
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Silkscreen', cursive;
    font-size: 3rem;
    color: #980a0a;
}

.game{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color:#ffc4005c;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 3px solid #AF004F;
}

.grid button{
    background-color: #FFE0EE;
    color: #b30e58;
    font-size: 24px;
    font-weight: bold;
    border:1px solid #cc718d;
    }

    .footer{
        margin-top: 15px;
        display:flex;
        justify-content: space-between;
    }

    .footer button{
        border: none;
        font-size: 20px;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 0 0px 5px #8a5f8a;
        padding: 5px;
        width: 80px;
        background-color: #f9f971a8;
        color: #980a0a94;
        cursor: pointer;
    }

    .footer button:hover{
        background-color: #ffbf69;
    }

    .footer span{
        flex: 1;
        text-align: center;
        font-size: 16px;
        color: #ffbf69;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
