*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-image: linear-gradient(to left top, #ff0000, #ff6700, #ff9a00, #ffc525, #ffed5b);
}

.game{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    background-color:#AF004F;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 1.5px solid #AF004F;
}

.grid button{
    background-color: #FFE0EE;
    color: #b30e58;
    font-size: 24px;
    font-weight: bold;
    border:1px solid #AF004F
    }

    .footer{
        margin-top: 15px;
        display:flex;
        justify-content: space-between;
    }

    .footer button{
        border: none;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        padding: 5px;
        width: 80px;
        background-color: #FFE0EE;
        color: #4b0303;
        cursor: pointer;
    }

    .footer button:hover{
        background-color: #ffc525;
    }

    .footer span{
        flex: 1;
        text-align: center;
        font-size: 18px;
        color: #ffed5b;
        font-weight: auto 0;
    }
